<% provide(:title, 'Profile Information') %>
<h1><%=@user.name%> Profile Information</h1>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
<%
=begin %>
        <%= gravatar_for @user %>
<%
=end %>
        <p>Name: <%= @user.name %></p>
        <p>Email: <%= @user.email %></p>
    </section>
  </aside>
</div>