<% provide(:title, 'Classes') %>
<h1>All Lessons</h1>

<% if current_user.admin? %>
	<p><%= link_to "Create new lesson", new_lesson_path(), class: "btn btn-lg btn-primary" %></p>
<% end %>

<%= will_paginate %>

<ul class="lessons">
	<% if logged_in? %>
  	<%= render @lessons %>
  <% end %>
</ul>

<%= will_paginate %>