<% provide(:title, 'Attendance') %>
<h1>Classes With Users Attending</h1>


<ul class="lessons">
	<%if logged_in? %>
		<% @lessons.each_with_index do |lesson, index| %>
    	<li><p><%= link_to "" << lesson.title, get_users_attending_path(lesson_id: lesson.id) %></p></li>
    <% end %>
	<% end %>
</ul>
